
  h1{
    display:flex;
    justify-content: center;

  }

  .form-select{
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  #mainImage {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    opacity: .6;
  }

  #resultCardsDiv{
    margin: 0 10px 10px 10px;
  }

  #stateListDropdown{
    margin-bottom: 100px;
  }

  #parkTypesListDropdown{
    margin-bottom:100px;
  }